@model OrderDto

@{
    ViewBag.SecondSidebarIndex = 2;
}

<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-body  am-margin-bottom-lg">
                    <div class="am-u-sm-12">
                        @{
                            // 计算当前步骤位置
                            var progress = 2;
                            if (Model.PayStatus == PayStatus.已付款) { progress += 1; }
                            if (Model.DeliveryStatus == DeliveryStatus.已发货) { progress += 1; }
                            if (Model.ReceiptStatus == ReceiptStatus.已收货) { progress += 1; }
//                            if (Model.OrderStatus == OrderStatus.已完成) { progress += 1; }
                        }
                        <ul class="order-detail-progress progress-@(progress)">
                            <li>
                                <span>下单时间</span>
                                <div class="tip">@(Model.CreateTime)</div>
                            </li>
                            <li>
                                <span>付款</span>
                                @if (Model.PayStatus == PayStatus.已付款)
                                {
                                    <div class="tip">
                                        付款于 @(Model.PayTime)
                                    </div>
                                }
                            </li>
                            <li>
                                <span>发货</span>
                                @if (Model.DeliveryStatus == DeliveryStatus.已发货)
                                {
                                    <div class="tip">
                                        发货于 @(Model.DeliveryTime)
                                    </div>
                                }
                            </li>
                            <li>
                                <span>收货</span>
                                @if (Model.ReceiptStatus == ReceiptStatus.已收货)
                                {
                                    <div class="tip">
                                        收货于 @(Model.ReceiptTime)
                                    </div>
                                }
                            </li>
                            <li>
                                <span>完成</span>
                                @if (Model.OrderStatus == OrderStatus.已完成)
                                {
                                    <div class="tip">
                                        完成于 @(Model.ReceiptTime)
                                    </div>
                                }
                            </li>
                        </ul>
                    </div>

                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">基本信息</div>
                    </div>
                    <div class="am-scrollable-horizontal">
                        <table class="regional-table am-table am-table-bordered am-table-centered
                            am-text-nowrap am-margin-bottom-xs">
                            <tbody>
                                <tr>
                                    <th>订单号</th>
                                    <th>实付款</th>
                                    <th>买家</th>
                                    <th>交易状态</th>
                                </tr>
                                <tr>
                                    <td>@(Model.OrderNo)</td>
                                    <td>
                                        <p>￥@(Model.PayPrice)</p>
                                        <p class="am-link-muted">(含运费：￥@(Model.ExpressPrice)</p>
                                    </td>
                                    <td>
                                        <p>@(Model.User.NickName)</p>
                                        <p class="am-link-muted">(用户id：@(Model.UserId)</p>
                                    </td>
                                    <td>
                                        <p>
                                            付款状态：
                                            <span class="am-badge @(Model.OrderStatus == OrderStatus.已完成 ? "am-badge-success" : "")">
                                                @(Model.OrderStatus)
                                            </span>
                                        </p>
                                        <p>
                                            发货状态：
                                            <span class="am-badge @(Model.DeliveryStatus == DeliveryStatus.已发货 ? "am-badge-success" : "")">
                                                @(Model.DeliveryStatus)
                                            </span>
                                        </p>
                                        <p>
                                            收货状态：
                                            <span class="am-badge @(Model.ReceiptStatus == ReceiptStatus.已收货 ? "am-badge-success" : "")">
                                                @(Model.ReceiptStatus)
                                            </span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">商品信息</div>
                    </div>
                    <div class="am-scrollable-horizontal">
                        <table class="regional-table am-table am-table-bordered am-table-centered
                            am-text-nowrap am-margin-bottom-xs">
                            <tbody>
                                <tr>
                                    <th>商品名称</th>
                                    <th>商品编码</th>
                                    <th>重量(Kg)</th>
                                    <th>单价</th>
                                    <th>购买数量</th>
                                    <th>商品总价</th>
                                </tr>

                                @foreach (var goods in Model.OrderGoods)
                                {
                                    <tr>
                                        <td class="goods-detail am-text-middle">
                                            <div class="goods-image">
                                                <img src="@(goods.GoodsImage.FileUrl)" alt="">
                                            </div>
                                            <div class="goods-info">
                                                <p class="goods-title">@(goods.GoodsName)</p>
                                                <p class="goods-spec am-link-muted">
                                                    @(goods.GoodsAttr)
                                                </p>
                                            </div>
                                        </td>
                                        <td>@(goods.GoodsNo ?? "--")</td>
                                        <td>@(goods.GoodsWeight > 0 ? $"goods.GoodsWeight" : "--")</td>
                                        <td>￥@(goods.GoodsPrice)</td>
                                        <td>×@(goods.TotalNum)</td>
                                        <td>￥@(goods.TotalPrice)</td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="6" class="am-text-right">总计金额：￥@(Model.TotalPrice)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">收货信息</div>
                    </div>
                    <div class="am-scrollable-horizontal">
                        <table class="regional-table am-table am-table-bordered am-table-centered
                            am-text-nowrap am-margin-bottom-xs">
                            <tbody>
                                <tr>
                                    <th>收货人</th>
                                    <th>收货电话</th>
                                    <th>收货地址</th>
                                </tr>
                                <tr>
                                    <td>@(Model.OrderAddress.Name)</td>
                                    <td>@(Model.OrderAddress.Phone)</td>
                                    <td>
                                        @(Model.OrderAddress.Province.Name)
                                        @(Model.OrderAddress.City.Name)
                                        @(Model.OrderAddress.Region.Name)
                                        @(Model.OrderAddress.Detail)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    @if (Model.PayStatus == PayStatus.已付款)
                    {
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">付款信息</div>
                        </div>
                        <div class="am-scrollable-horizontal">
                            <table class="regional-table am-table am-table-bordered am-table-centered
                                am-text-nowrap am-margin-bottom-xs">
                                <tbody>
                                    <tr>
                                        <th>应付款金额</th>
                                        <th>支付方式</th>
                                        <th>支付流水号</th>
                                        <th>付款状态</th>
                                        <th>付款时间</th>
                                    </tr>
                                    <tr>
                                        <td>￥@(Model.PayPrice)</td>
                                        <td>微信支付</td>
                                        <td>@(Model.TransactionId ?? "--")</td>
                                        <td>
                                            <span class="am-badge @(Model.PayStatus == PayStatus.已付款 ? "am-badge-success" : "")">
                                                @(Model.PayStatus)
                                            </span>
                                        </td>
                                        <td>
                                            @(Model.PayTime)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }

                    @if (Model.PayStatus == PayStatus.已付款)
                    {
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">发货信息</div>
                        </div>
                        if (Model.DeliveryStatus == DeliveryStatus.待发货)
                        {
                            <!-- 去发货 -->
                            <form id="delivery" class="my-form am-form tpl-form-line-form" method="post"
                                  action="/order/delivery/orderId/@Model.OrderId">
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">物流公司名称 </label>
                                    <div class="am-u-sm-9 am-u-end">
                                        <input type="text" class="tpl-form-input" name="expressCompany]" required>
                                        <small>如：顺丰速运、申通快递</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">物流单号 </label>
                                    <div class="am-u-sm-9 am-u-end">
                                        <input type="text" class="tpl-form-input" name="expressNo" required>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3 am-margin-top-lg">
                                        <button type="submit" class="j-submit am-btn am-btn-sm am-btn-secondary">
                                            确认发货
                                        </button>
                                    </div>
                                </div>
                            </form>
                        }
                        else
                        {
                            <div class="am-scrollable-horizontal">
                                <table class="regional-table am-table am-table-bordered am-table-centered
                                am-text-nowrap am-margin-bottom-xs">
                                    <tbody>
                                        <tr>
                                            <th>物流公司</th>
                                            <th>物流单号</th>
                                            <th>发货状态</th>
                                            <th>发货时间</th>
                                        </tr>
                                        <tr>
                                            <td>@(Model.ExpressCompany)</td>
                                            <td>@(Model.ExpressNo)</td>
                                            <td>
                                                <span class="am-badge @(Model.DeliveryStatus == DeliveryStatus.已发货 ? "am-badge-success" : "")">
                                                    @(Model.DeliveryStatus)
                                                </span>
                                            </td>
                                            <td>
                                                @(Model.DeliveryTime)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        }
                    }
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(function () {

        /**
         * 表单验证提交
         * @@type {*}
         */
        $('.my-form').superForm();

    });
</script>


