@model List<CategoryDto>
@{
    ViewData["Title"] = "商品分类";
    ViewBag.SecondSidebarIndex = 1;
}

<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-cf">@ViewData["Title"]</div>
                </div>
                <div class="widget-body am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a class="am-btn am-btn-default am-btn-success am-radius"
                                       href="/goods.category/add">
                                        <span class="am-icon-plus"></span> 新增
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                            <thead>
                                <tr>
                                    <th>分类ID</th>
                                    <th>分类名称</th>
                                    <th>分类排序</th>
                                    <th>添加时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var first in Model.Where(l => l.ParentId == 0))
                                    {
                                        <tr>
                                            <td class="am-text-middle">@first.CategoryId</td>
                                            <td class="am-text-middle">@first.Name</td>
                                            <td class="am-text-middle">@first.Sort</td>
                                            <td class="am-text-middle">@first.CreateTime</td>
                                            <td class="am-text-middle">
                                                <div class="tpl-table-black-operation">
                                                    <a href="/goods.category/edit/categoryId/@(first.CategoryId)">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="javascript:;" class="item-delete tpl-table-black-operation-del" data-id="@(first.CategoryId)">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        foreach (var two in Model.Where(l => l.ParentId == first.CategoryId))
                                        {
                                            <tr>
                                                <td class="am-text-middle">@two.CategoryId</td>
                                                <td class="am-text-middle">　-- @two.Name</td>
                                                <td class="am-text-middle">@two.Sort</td>
                                                <td class="am-text-middle">@two.CreateTime</td>
                                                <td class="am-text-middle">
                                                    <div class="tpl-table-black-operation">
                                                        <a href="/goods.category/edit/categoryId/@(two.CategoryId)">
                                                            <i class="am-icon-pencil"></i> 编辑
                                                        </a>
                                                        <a href="javascript:;" class="item-delete tpl-table-black-operation-del" data-id="@(two.CategoryId)">
                                                            <i class="am-icon-trash"></i> 删除
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            foreach (var three in Model.Where(l => l.ParentId == two.CategoryId))
                                            {
                                                <tr>
                                                    <td class="am-text-middle">@three.CategoryId</td>
                                                    <td class="am-text-middle">　　　-- @three.Name</td>
                                                    <td class="am-text-middle">@three.Sort</td>
                                                    <td class="am-text-middle">@three.CreateTime</td>
                                                    <td class="am-text-middle">
                                                        <div class="tpl-table-black-operation">
                                                            <a href="/goods.category/edit/categoryId/@(three.CategoryId)">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                            <a href="javascript:;" class="item-delete tpl-table-black-operation-del" data-id="@(three.CategoryId)">
                                                                <i class="am-icon-trash"></i> 删除
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5" class="am-text-center">暂无记录</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        // 删除元素
        var url = "/goods.category/delete";
        $('.item-delete').delete('categoryId', url);
    });
</script>

